.card-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.card:hover {
    opacity: 0.6;
    /* transform: scale(1.2); */
}

.title,
.classe {
    color: #674d69;
    font-size: 17px;
    text-decoration: none;
}

.classe:hover {
    color: aquamarine;
}

a:hover {
    opacity: 0.4;
}

.thumbnail {
    top: -50px;
    left: -35px;
    display: block;
    z-index: 999;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

/*change the number below to scale to the appropriate size*/
.thumbnail:hover {
    transform: scale(1.2);

}