body {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
    background-color: rgba(231, 179, 110, 0.61);
}
.slide{
    display: none;
/* utilizo esse comando para a pagina iniciar sem os slides, ate que eles sejam todos carregados, qdo forem carregados, os slides aparecerão */
}
.titulo {
    text-align: center;
    text-transform: uppercase;
}

.titulo span {
    background-color: rgba(218, 215, 12, 0.815));
}

.logo {
    position: absolute;
    top: -1em;
    left: 15rem;
    width: 120px;
    height: 100px;
    background: url("../imagens/wowLogo.png") top left;
    background-size: cover;
    z-index: 1000;
}

.listaMenu {
    border-style: dotted;
    border-radius: 10px;
    border-color: #ac8585;
    background-color: #ac8585;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menuLi {
    display: inline-block;
    margin: 5px;
}

.menu {
    display: inline-block;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
}

.listaMenu:hover {
    background-color: rgba(168, 132, 13, 0.493);
}

.selecaoFotos{
    text-align: center;    
}
#imagem{
    display: block;
    margin: 0 auto;
    max-width: 60%;
    height: auto;
}

footer{
    position: relative;
    bottom: 0;
    width: 50%;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ac8585;
}

.direitos{
    text-align: center;
}

.campoFaleConosco{
    text-align: center;
    justify-content: center;
}