body {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
    background-color: #2e292e;
    /* background-color: black; */
    margin-left: 300px;
    margin-right: 300px;
}

.noDarkMode {
    background-color: #2e0a3fe1;
}

.slide {
    display: none;
    /* utilizo esse comando para a pagina iniciar sem os slides, ate que eles sejam todos carregados, qdo forem carregados, os slides aparecerão */
}

.titulo {
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

.titulo span {
    color: #b7c9a9;
    font-size: 26px;
}

.logo {
    position: absolute;
    top: 0px;
    left: 23rem;
    width: 120px;
    height: 100px;
    background: url("../imagens/wowLogo.png") top left;
    background-size: cover;
    z-index: 1000;
}

#noturnoON {
    position: absolute;
    top: 50px;
    right: 23rem;
    width: 50px;
    height: 30px;
    border: solid 0.8px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #b7c9a9;
    /* z-index: -1000; */
}

.listaMenu {
    border-radius: 10px;
    border-color: #674d69;
    background-color: #674d69;
    color: #b7c9a9;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menuLi {
    display: inline-block;
    margin: 5px;
}

.menu {
    display: inline-block;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
}

.listaMenu:hover {
    background-color: #b7c9a9;
}

.selecaoFotos {
    text-align: center;
}

#imagem {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    height: auto;
}

.descricaoJogo,
.descricaoBlizzard,
.listaExpansoes,
.menuLi,
.direitos {
    color: #5f7a48;
}

footer {
    position: relative;
    bottom: 0;
    color: #5f7a48;
    text-align: center;
    background-color: #674d69;
    border-radius: 10px;
    opacity: 0.8;
}

.descricaoClasse {
    color: #b7c9a9;
    text-align: justify;
    text-decoration-thickness: 0.9;
}