.formContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-left: 100px;
}

.imagens {
    width: 300px;
    height: auto;
    margin: auto;
}

.imagens2 {
    width: 410px;
    height: auto;
    margin: auto;
}

.formEImagens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.formCadastro {
    background-color: #674d69;
    border-style: groove;
    max-width: 30rem;
    padding: 10px;
    width: 600px;
}

.tituloCadastro {
    text-align: center;
    color: #b7c9a9;
}

.tipoCad {
    color: #b7c9a9;
}

input {
    background-color: #f0f0f0c0;
    /* color: ; */
    border: 1px solid #ccc;
    border-radius: 9px;
    /*Bordas arredondadas*/
    padding: 8px;
    /* Espaçamento interno */
    margin: 6px;
    /* Margens ao redor do input */
    outline: none;
    /* Tira as bordas pretas do input */
    width: 400px;
    /* Aumenta o tamanho da largura do input */
}

input:focus {
    border: 1px solid #007bff;
    box-shadow: 0 0 5px #007bff;
}

input:focus::placeholder {
    color: transparent;
    /* Torna o "placeholder" transparente quando focado */
}

#cadastrar {
    background-color: #ff7c70;
    margin: 0 auto;
    color: #111111;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 200px;
    cursor: pointer;
    display: block;
    opacity: 0.8;
}

#cadastrar:hover {
    background-color: #f2dfb1;
}

input:invalid+span:after {
    content: "✖";
    padding-left: 5px;
}

input:valid+span:after {
    content: "✓";
    padding-left: 5px;
}