body {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
    background-color: rgba(231, 179, 110, 0.61);
}

.titulo {
    text-align: center;
    text-transform: uppercase;
}

.titulo span {
    background-color: rgb(93, 93, 202);
}

.logo {
    position: fixed;
    top: -1em;
    left: 25rem;
    width: 120px;
    height: 100px;
    background: url(/src/imagens/wowLogo.png) top left;
    background-size: cover;
    z-index: 1000;
}

.listaMenu {
    border-style: dotted;
    border-radius: 10px;
    border-color: rgb(189, 135, 53);
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menuLi {
    display: inline-block;
    margin: 5px;
}

.menu {
    display: inline-block;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
}

.listaMenu:hover {
    background-color: rgba(168, 132, 13, 0.493);
}

.selecaoFotos{
    text-align: center;    
}
#imagemPrincipal{
    display: block;
    margin: 0 auto;
    max-width: 60%;
    height: auto;
}