.newSeason {
    border-style: solid;
    border-radius: 5px;    
    border: 1px solid;
    border-color: rgb(138, 130, 146);
    height: 100px;
    padding: 15px;
}

.textoPortais{
margin: auto;
padding: 35px;
}