body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
    background-color: rgba(231, 179, 110, 0.61);
}

.cards .newSeason,
.cards .portais {
    border-style: solid;
    border-radius: 5px;    
    border: 1px solid;
    border-color: rgb(95, 102, 4);
    width: 60%;
    margin-left: 50px;    
    margin-top: 10px;
    height: 100px;
    padding: 15px;
}

.textoPortais{
    margin: auto;
    width: 80%;
    text-align: justify; 
    padding: 35px;
}
.textoSeason{
    margin: auto;
    width: 80%;
    text-align: justify; 
    padding: 35px;
}