

.cards .newSeason,
.cards .portais {
    border-style: solid;
    border-radius: 5px;    
    border: 1px solid;
    border-color: rgb(95, 102, 4);
    width: 60%;  
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10px;
    height: 100px;
    padding: 15px;
}

.textoPortais{
    margin: auto;
    width: 80%;
    text-align: justify; 
    padding: 35px;
}
.textoSeason{
    margin: auto;
    width: 80%;
    text-align: justify; 
    padding: 35px;
}